html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: auto;
    color: #444;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    outline: none;
}
a{
    color: #3F3F3F;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    outline: none;
}
a:hover{
    border-bottom: 1px solid #777;
}
a:focus, a:hover{
    text-decoration: none !important;
}
input{
    border: none;
    border-bottom: 1px solid #888;
    line-height: 1.7em;
    text-align: left;
    padding-left: 10px;
    outline: none;
}
p{
    display: inline-block;
}
img{
    display: block;
}
.clickable {
    display: block;
    width: fit-content;
    padding: 4px;
    border-bottom: 1px solid;
    margin: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.clickable:hover {
    color: #000;
    font-weight: 500;
}
.history-window{
    display: none;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    margin: 14px;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 3px 5px 18px 3px rgba(0, 0, 0, 0.15);
}
.history-index{
    overflow: auto;
    max-height: calc(100% - 80px);
    border-right: 1px solid #ddd;
}
.history-list{
    padding: 10px;
}
.history-list ul{
    padding-left: 0;
    width: fit-content;
    margin: auto;
}
.history-left-part{
    width: 35%;
    position: absolute;
    height: 100%;
    float: left;
}
.history-right-part{
    width: 65%;
    height: 100%;
    float: right;
}
.history-view-title{
    text-align: center;
}
.history-view{
    padding: 20px 50px 0 50px;
    max-width: 800px;
    overflow: auto;
    max-height: calc(100% - 60px);
}
.history-view-body{
    white-space: break-spaces;
}
.history-item-selected{
    color: #ff0b5e;
    font-weight: 500;
    border-bottom-color: #333;
}
.history-item-selected:hover{
    color: #ff0000;
    font-weight: 800;
}
.history-revert{
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 30px;
}
.broken-image {
    background-image: url('/notebook/static/img/broken_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 25px;
    min-height: 25px;
}
.modal-content{
    border-radius: 0;
}
.left-nav{
    display: block;
    float: left;
    width: 300px;
}
.right-nav{
    display: block;
    float: right;
    margin-right: 15px;
}
.button{
    border: none;
    background: #ccc;
    padding: 6px 12px;
    margin-top: 15px;
    outline: none;
    transition: all 0.3s ease-out;
}
.button:hover{
    background: #333;
    color: whitesmoke;
}
.user-name{
    margin-right: 20px;
}
.modal-header h4{
    margin:auto;
    text-align: center;
}
.cl-prompt{
    width: 500px;
    position: fixed;
    top: 0;
    box-shadow: 3px 5px 18px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-left: calc(50% - 250px);
    border: 1px solid #eee;
    padding: 15px;
    opacity: 0;
    transition: top 0.3s linear 0s, opacity 0.1s;
    z-index: -1;
}
.cl-prompt-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    background: #dfdfdf;
    font-size: 16px;
    padding-left: 6px;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.cl-prompt-close:hover{
    color: white;
    background: #555;
}
.cl-prompt-clock{
    font-size: 12px;
    float: right;
    margin-right: 30px;
    margin-top: -2px;
}
.cl-prompt-clock span{
    text-decoration: underline;
}
.cl-confirm-btn-group{
    width: 100%;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}
#cl-confirm-body{
    word-break: break-word;
    white-space: normal;
    width: 100%;
    overflow: hidden;
}
.hidden-area{
    display: none;
}
.textarea-title{
    border-bottom: 1px dashed #ccc;
    padding: 20px 20px 10px;
    font-size: 20px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
}
.sub-content-full-screen{
    width: calc(100% - 40px) !important;
}
#nav{
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    padding-left: 30px;
}
#input-text-area{
    height: calc(100% - 80px);
    width: 100%;
    border: none;
    resize: none;
    line-height: 1.6em;
    outline: none;
    padding: 0 30px 30px;
}
#content-area{
    background: white;
    float: left;
    height: 100%;
    width: 220px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 4px 4px 20px 0 rgb(0 0 0 / 15%);
    padding: 0 15px 0 0;
}
#content-text {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 0 20px;
    white-space: normal;
    word-break: break-word;
}
#content-text p{
    font-size: 14px;
    margin: 0.8em 0;
    line-height: 2em;
    overflow-wrap: break-word;
}
#content-text img{
    display: block;
    margin: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
}
#content-text li{
    font-size: 15px;
}

#content-text table {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    color: #333;
    background: white;
}
#content-text table th {
    padding: 12px 16px;
    text-align: center;
    font-weight: 500;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
}
#content-text table td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
#content-text table tr:hover td {
    background-color: #f5f5f5;
}
#content-text pre{
    border: none;
    border-radius: 0;
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
}
#content-text pre code{
    font-size: inherit;
    white-space: pre-wrap;
    border-radius: 0;
}
#content-text code{
    padding: 2px 4px;
    font-size: 90%;
    color: #313131;
    background-color: #f5f5f5;
    border-radius: 4px;
}
#content-text code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#content-text blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}
#content-text blockquote p{
    margin: 0 !important;
}
#content-text li{
    margin-top: 10px;
}
#content-text li a{
    color: #333;
}
#uavaliable-mask{
    display: none;
    text-align: center;
    padding-top: 50%;
}
#uavaliable-mask a{
    text-decoration: none;
    color: #464646;
    word-break: keep-all;
    border-bottom: 1px solid;
}
#browser-prompt{
    display: none;
    background-color: #fbe57a;
    margin: 0;
    padding: 10px;
}
#browser-prompt a{
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
}
#upload-file-form{
    display: none;
}
#folder-tree{
    display: block;
    float: left;
    height: 100%;
    width: 220px;
    background: white;
    padding: 10px;
}
.split-line{
    height: 100%;
    display: block;
    width: 6px;
    float: left;
    background: #ccc;
    cursor: ew-resize;
}
#input-area{
    float: left;
    width: 50%;
    height: 100%;
    box-shadow: -4px 5px 20px 7px rgb(0 0 0 / 15%);
    background: white;
}
#nav a{
    margin-right: 15px;
}
#content{
    background-color: #f3f3f3;
    height: calc(100% - 51px);
    overflow: hidden;
}
#sub-content{
    float: right;
    height: calc(100% - 20px);
}
#jstree{
    overflow: auto;
    height: calc(100% - 25px);
    margin-top: 25px;
    border-top: 1px solid;
}

#show-folder-tree{
    display: none;
    width: 20px;
    margin-top: 22px;
    height: calc(100% - 40px);
    box-shadow: -4px 5px 20px 7px rgba(0, 0, 0, 0.15);
    float: left;
    cursor: pointer;
    background: #fff;
}
#show-folder-tree:hover{
    background: #eee;
    color: #000;
}
#show-folder-tree-p{
    position: absolute;
    width: 20px;
    top: calc(50% - 75px);
    text-align: center;
    height: 150px;
}
#input-modal .modal-body{
    margin-left: 20%;
    width: 60%;
}
#input-modal .modal-body p{
    text-align: left;
    word-wrap: break-word;
}
.share-container{
    position: absolute;
    width: 1100px;
    padding: 15px 30px;
    overflow-x: auto;
    min-height: 95%;
}
@media (max-width: 9999px){
    .share-container{
        max-width: 1360px;
        margin-left: calc(50% - 550px);
    }
}
@media (max-width: 1360px){
    .share-container{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 500px){
    .share-container{
        width: 100%;
        margin: 0;
        padding: 10px 20px;
        min-height: 300px;
        height: 100%;
    }
}
